.about1 { 
	overflow:hidden;
}
.about1 { 
	background-color:rgba(115.81250354647636, 115.81250354647636, 115.81250354647636, 1);
	width:1680px;
	height:3000px;
	position:absolute;
}
.a2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1680px;
	height:180px;
	position:absolute;
	left:0px;
	top:0px;
}
.a1 { 
	width:148px;
	height:147px;
	position:absolute;
	left:29px;
	top:7px;
	background-image:url(images/1_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.b1 { 
	width:1680px;
	height:758px;
	position:absolute;
	left:0px;
	top:180px;
	background-image:url(images/poly1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.b2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1680px;
	height:738px;
	position:absolute;
	left:0px;
	top:1930px;
}
.b3 { 
	width:173px;
	height:76px;
	position:absolute;
	left:368px;
	top:402px;
}
.jin { 
	background-color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:173px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
}
.jin { 
	border:1px solid rgba(0, 0, 0, 1);
}
.ec1 { 
	width:173px;
	height:76px;
	position:absolute;
	left:625px;
	top:402px;
}
.c { 
	background-color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:173px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
}
.c { 
	border:1px solid rgba(0, 0, 0, 1);
}
.v1 { 
	width:173px;
	height:76px;
	position:absolute;
	left:881px;
	top:402px;
}
.v { 
	background-color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:173px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
}
.v { 
	border:1px solid rgba(0, 0, 0, 1);
}
.v2 { 
	width:173px;
	height:76px;
	position:absolute;
	left:1138px;
	top:402px;
}
.qq1 { 
	background-color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:173px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
}
.qq1 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.qq2 { 
	width:173px;
	height:76px;
	position:absolute;
	left:368px;
	top:542px;
}
.qq3 { 
	background-color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:173px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
}
.qq3 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.w1 { 
	width:173px;
	height:76px;
	position:absolute;
	left:625px;
	top:542px;
}
.w2{ 
	background-color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:173px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
}
.w2 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.w3 { 
	width:173px;
	height:76px;
	position:absolute;
	left:881px;
	top:542px;
}
.cw1 { 
	background-color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:173px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
}
.cw1 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.cw2 { 
	width:173px;
	height:76px;
	position:absolute;
	left:1138px;
	top:542px;
}
.cw3 { 
	background-color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:173px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
}
.cw3 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.cw4 { 
	width:1392px;
	height:72px;
	position:absolute;
	left:144px;
	top:120px;
}
.cota { 
	color:rgba(0, 0, 0, 1);
	width:1392px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:center;
	font-size:48px;
	letter-spacing:-1.5;
	line-height:px;
}
.about2 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:1392px;
	height:100px;
	position:absolute;
	left:0px;
	top:102px;
	font-family:Montserrat;
	text-align:center;
	font-size:36px;
	letter-spacing:-1.5;
	line-height:px;
}
.t1 { 
	background-color:rgba(255, 255, 255, 1);
	width:1680px;
	height:960px;
	position:absolute;
	left:0px;
	top:950px;
}
.t2 { 
	width:840px;
	height:960px;
	position:absolute;
	left:840px;
	top:0px;
}
.t3 { 
	background-color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:840px;
	height:960px;
	position:absolute;
	left:0px;
	top:0px;
}
.t3 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.t4 { 
	width:840px;
	height:960px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/3_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ez1 { 
	width:840px;
	height:960px;
	position:absolute;
	left:0px;
	top:0px;
}
.ez2 { 
	background-color:rgba(255, 255, 255, 1);
	width:840px;
	height:960px;
	position:absolute;
	left:0px;
	top:0px;
}
.ez3 { 
	width:686px;
	height:160px;
	position:absolute;
	left:80px;
	top:354px;
}
.ez4 { 
	color:rgba(0, 0, 0, 1);
	width:686px;
	height:160px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:56px;
	letter-spacing:-1.5;
	line-height:px;
}
.ez5 { 
	width:192px;
	height:52px;
	position:absolute;
	left:80px;
	top:554px;
}
.sp1 { 
	background-color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:192px;
	height:52px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.sp2 { 
	color:rgba(255, 255, 255, 1);
	width:90px;
	height:21px;
	position:absolute;
	left:50.21538543701172px;
	top:15.300000190734863px;
	font-family:Montserrat;
	text-align:center;
	font-size:17px;
	letter-spacing:-1.5;
}
.sp3 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:268px;
	height:177px;
	position:absolute;
	left:1412px;
	top:3px;
}
