.8_23 { 
	overflow:hidden;
}
.e8_23 { 
	background-color:rgba(115.81250354647636, 115.81250354647636, 115.81250354647636, 1);
	width:1680px;
	height:3000px;
	position:absolute;
}
.e8_24 { 
	background-color:rgba(255, 255, 255, 1);
	width:1680px;
	height:180px;
	position:absolute;
	left:0px;
	top:0px;
}
.e8_25 { 
	width:148px;
	height:147px;
	position:absolute;
	left:29px;
	top:7px;
	background-image:url(images/1_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_27 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:268px;
	height:177px;
	position:absolute;
	left:1412px;
	top:2px;
}
.e8_38 { 
	background-color:rgba(255, 255, 255, 1);
	width:1680px;
	height:960px;
	position:absolute;
	left:0px;
	top:1168px;
}
.e8_39 { 
	width:840px;
	height:960px;
	position:absolute;
	left:0px;
	top:0px;
}
.i8_39_0_447 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.ei8_39_0_447 { 
	width:840px;
	height:960px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_40 { 
	width:920px;
	height:960px;
	position:absolute;
	left:840px;
	top:0px;
}
.e8_41 { 
	background-color:rgba(115.81250354647636, 115.81250354647636, 115.81250354647636, 1);
	width:840px;
	height:960px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_127 { 
	color:rgba(255, 255, 255, 1);
	width:776px;
	height:160px;
	position:absolute;
	left:64px;
	top:92px;
	font-family:New Rocker;
	text-align:left;
	font-size:128px;
	letter-spacing:-1.5;
	line-height:px;
}
.e9_128 { 
	color:rgba(255, 255, 255, 1);
	width:686px;
	height:160px;
	position:absolute;
	left:234px;
	top:320px;
	font-family:New Rocker;
	text-align:left;
	font-size:128px;
	letter-spacing:-1.5;
	line-height:px;
}
.e9_132 { 
	color:rgba(255, 255, 255, 1);
	width:686px;
	height:160px;
	position:absolute;
	left:234px;
	top:554px;
	font-family:New Rocker;
	text-align:left;
	font-size:128px;
	letter-spacing:-1.5;
	line-height:px;
}
.e9_134 { 
	color:rgba(255, 255, 255, 1);
	width:686px;
	height:160px;
	position:absolute;
	left:234px;
	top:782px;
	font-family:New Rocker;
	text-align:left;
	font-size:108px;
	letter-spacing:-1.5;
	line-height:px;
}
.e9_130 { 
	width:184px;
	height:178px;
	position:absolute;
	left:29px;
	top:288px;
	background-image:url(images/ig_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_131 { 
	width:210px;
	height:210px;
	position:absolute;
	left:25px;
	top:504px;
	border-top-left-radius:300px;
	border-top-right-radius:300px;
	border-bottom-left-radius:300px;
	border-bottom-right-radius:300px;
	background-image:url(images/black_icon_twitter_logo_transparent_png_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_133 { 
	width:129px;
	height:168px;
	position:absolute;
	left:896px;
	top:749px;
	background-image:url(images/15407_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_28 { 
	background-color:rgba(255, 255, 255, 1);
	width:1680px;
	height:960px;
	position:absolute;
	left:0px;
	top:178px;
}
.e8_29 { 
	width:840px;
	height:960px;
	position:absolute;
	left:840px;
	top:0px;
}
.8_30 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e8_30 { 
	width:840px;
	height:960px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_31 { 
	width:908px;
	height:960px;
	position:absolute;
	left:0px;
	top:0px;
}
.e8_32 { 
	background-color:rgba(115.81250354647636, 115.81250354647636, 115.81250354647636, 1);
	width:840px;
	height:960px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_137 { 
	width:881px;
	height:144px;
	position:absolute;
	left:27px;
	top:177px;
}
.ei9_137_8_34 { 
	color:rgba(255, 255, 255, 1);
	width:976.0349731445312px;
	height:353.70001220703125px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:New Rocker;
	text-align:left;
	font-size:300px;
	letter-spacing:-1.5;
	line-height:px;
}
.e9_141 { 
	width:881px;
	height:144px;
	position:absolute;
	left:27px;
	top:387px;
}
.e8_33 { 
	width:686px;
	height:160px;
	position:absolute;
	left:27px;
	top:531px;
}
.e8_34 { 
	color:rgba(255, 255, 255, 1);
	width:760px;
	height:393px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:New Rocker;
	text-align:left;
	font-size:128px;
	letter-spacing:-1.5;
	line-height:px;
}
.e9_154 { 
	width:790px;
	height:131px;
	position:absolute;
	left:57px;
	top:386px;
}
.ei9_154_8_34 { 
	color:rgba(255, 255, 255, 1);
	width:875.2186889648438px;
	height:321.76873779296875px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:New Rocker;
	text-align:left;
	font-size:128px;
	letter-spacing:-1.5;
	line-height:px;
}
.e9_156 { 
	width:1680px;
	height:809px;
	position:absolute;
	left:0px;
	top:2158px;
	background-image:url(images/2_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
